# Игнорировать папку 
/build/
/.vscode/

cmake-build-*/  
*.o
*.obj
*.a
*.lib
*.so
*.dll
*.exe
*.pdb 

/main
/test

/.idea/              
*.swp                 
*~                    
Thumbs.db   

/matplotlib-cpp/
/dependencies/
